
<h1>Signup Page</h1>
<form method="POST" action="/signup">
  <label>Username: <input type="text" name="username" /></label>
  <label>Password: <input type="password" name="password" /></label>
  <label>Confirm Password: <input type="password" name="password2" /></label>
  <button type="submit">Sign Up</button>
</form>
