<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BotNet</title>
<link rel="stylesheet" href="/hosted/style.css">
</head>
<body>
  <header>
    <h1>☆Welcome to BotNet!☆</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav>
      
  </header>

  <main>
    {{{body}}} 
  </main>

  <footer>
  </footer>
</body>
</html>
